/*
 * Pipelines parameters
 */

params {

        /*
         * Containers
         */

         //container for running R scripts
         rCont = 'bior_docker'

         //container for suppa2 and bedtools
         spliceCont = 'suppatools_docker'


	/*
	 * Key files
	 */
		//path to transcript models gtf output from IsoQuant
		models = "${projectDir}/files/OUT.transcript_models.chr1.gtf"

                //path to model transcript tpms output from IsoQuant
                model_tpms = "${projectDir}/files/OUT.transcript_model_tpm.tsv"

                //path to gencode reference gtf
                refgtf = "${projectDir}/files/gencode.v49.annotation.chr1.gtf.gz"

	/*
	 * Non-file paths
	 */
         	//output directory
		outdir = "/mnt/workflow/pubdir"
}

docker.enabled = true

